{%block body%}
<p>Please read the directions and follow through with the questions</p>

<form action=""

<div name = "Q1">
    <p>What is the most common error in programming?</p>

    <input type ="radio" id="SErr" name="Error">
    <label for="SErr"> Syntax Error </label><br>

    <input type ="radio" id="LErr" name="Error">
    <label for="LErr"> Logic Error </label><br>

    <input type ="radio" id="CErr" name="Error">
    <label for="CErr"> Compiling Error </label><br>
    
</div>

<div name = "Q2">
    <p>What was the first programming language?</p>

    <input type ="radio" id="AAE" name="First">
    <label for="AAE"> Algorithm for the Analytical Engine </label><br>

    <input type ="radio" id="REL" name="First">
    <label for="REL"> Regional Assembly Language </label><br>

    <input type ="radio" id="LISP" name="First">
    <label for="LISP"> LISP </label><br>
    
</div>

<div name = "Q3">
    <p>Which of the following is not a programming language?</p>

    <input type ="radio" id="Python" name="Not">
    <label for="Python"> Python </label><br>

    <input type ="radio" id="GO" name="Not">
    <label for="GO"> GO </label><br>

    <input type ="radio" id="HTML" name="Not">
    <label for="HTML"> HTML </label><br>
</div>   

</div name ="Q4">
    <p>Which of the following is one of the best practices for stylizing your code?</p>

    <input type ="radio" id="Create" name="Best">
    <label for="Create"> Create your code in any way you want </label><br>

    <input type ="radio" id="Convention" name="Best">
    <label for="Convention"> Follow conventions that can help boost productivity and cooperation  </label><br>

    <input type ="radio" id="Complicate" name="Best">
    <label for="Complicate">  Make your code unique and cryptic  </label><br>
</div>



{%endblock%}